.row{
    padding: 1%;
}
.container-fluid > .row {
    border:1px solid black;
}
.container > .row {
    border:1px solid black;
}
.textos > div > div{
    background-color: white;
    border: solid black 1px;
}
.footer{
    border:1px solid black;
}
.footer > div{
    background-color: gray;
    border: solid black 1px;
}
html,body,.container {
    height:100%;
}
.borde{
    border: solid black 1px;
}